*{
    font-family: 함초롬바탕;
}
h1{
    color: #ffffff;
    background-color: #502299;
    font-family: Britannic;
    font-weight: 500;
}
h3{
    color: #502299;
}
hr{
    border: 1px #9999ff double;
}
table{
    text-align: center;
}
.icon{
    width: 100px;
    height: 100px;
}
.bold{
    font-weight: bold;
}
.home{
    width: 40px;
    height: 40px;
}
.expl{
    color: gray;
    font-size: small;
}
#footer{
    text-align: center;
    background-color:#9999ff;
}