*{font-family: 함초롬바탕;}
h1{
    color: #ffffff;
    background-color: #502299;
    font-family: Britannic;
    font-weight: 500;
}

h3{text-shadow: lavender;}

.icon{
    width: 100px;
    height: 100px;
}

.bold{font-weight: bold;}

#footer{background-color:#9999ff;}